extends _page

block head
    title Help Desk Stand
    script window.urlPrefix = 'http://' + location.hostname + ':1314/education/api'

block body
    blog app
    script(src="blog/js/main.js", type="text/javascript")
